@model IEnumerable<ShowPets.Models.Species>

@{
    ViewData["Title"] = "Species of pets";
}

<h1>The species of our pets</h1>

<p>
    <a asp-action="Create">Add</a>
</p>
<table class="table table-striped table-hover">
    <thead>
        <tr>
            <th>
                Species
            </th>
            <th>
                Living Area
            </th>
            <th>
                Is it endangered?
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Species1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Area)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsEndangered)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.SpeciesId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.SpeciesId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.SpeciesId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
